{% extends 'layout/base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
    {% load static %}
<div class="container marketing">
    <h1 class="title">{{ title }}</h1>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Knitting WebNotes!<span class="text-muted">Всегда с тобой!</span></h2>
        <p class="lead">Теперь не нужно записывать свои вязальные проекты в ПроджектБук. С Веб-блокнотом они все в одном месте! Зарегистрируйся и сохраняй все в одном месте. Добовляй свои мструменты и пряжу, а также всю информацию об изделии. Названия узоров, их схемы, и описания, ссылки на мастер-класс или сайт, для кого вяжешь, начало и окончание проекта, фото изделия</p>
      </div>
      <div class="col-md-5">
          <img class="img-fluid" src="{% static 'img/style/St4_Medium_1.jpg' %}" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Knitting WebNotes!<span class="text-muted">Подходят тебе!</span></h2>
        <p class="lead">Для кого Веб-блокнот? Для всех кто любит вязать! Для начинающих и проффесионалов, для бабушек и девочек)), для тех кто вяжет много и не очень. Сохрани свой проект в Веб-блокноте, и он всегда будет у тебя под рукой!</p>
      </div>
      <div class="col-md-5 order-md-1">
          <img class="img-fluid" src="{% static 'img/style/St4_Medium_2.jpg' %}" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Knitting WebNotes! <span class="text-muted">Сохраняй и делись!</span></h2>
        <p class="lead">Ты всегда можешь поделится своей записью в Веб-блокноте или сохранить то, что понравилось тебе. Для этого просто сделай проект публичным.</p>
      </div>
      <div class="col-md-5">
          <img class="img-fluid" src="{% static 'img/style/St4_Medium_3.jpg' %}" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

</div>

{% endblock content %}