{% extends 'layout/base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
<div class="contanier">
    <div class="card" id="card_info">
        <div class="card-header">
            <h4 class="title">{{ title }}:</h4>
        </div>
        <div class="card-body">
            <a href="/calculator" class="btn btn-link" role="button" onclick="openWin('/calculator/rows', 'Расчет рядов')">Расчет количества рядов</a><br>
            <a href="/calculator" class="btn btn-link" role="button" onclick="openWin('/calculator/stitches', 'Расчет петель')">Расчет количества петель</a><br>
            <a href="/calculator" class="btn btn-link" role="button" onclick="openWin('/calculator/rapport', 'Расчет раппорта')">Расчет раппорта</a><br>
        </div>
    </div>
</div>
<script>
    function openWin (newUrl, titleName) {
        let newWindow = window.open(newUrl, titleName, 'width=700, height=600, resizable=yes, titlebar=yes');
        return newWindow;
    };
</script>
<style>
    main{
        height: 790px;
        background-image: url("../../static/img/style/St4_Big_11.jpg");
        background-size: cover;
    }
    #card_info{
        width: 30%;
        float: right;
        margin: 50px 200px 50px 50px;
    }
</style>
{% endblock content %}