{% extends 'layout/base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
<div class="contanier">
    <div class="d-flex justify-content-center">
        <div id="calc-bg-color" class="card">
        <div class="card-header">
            <h4 class="title">{{ title }}:</h4>
        </div>
        <div class="card-body">
            <a href="/calculator/rows" class="btn btn-outline-info w-100" role="button" target="_blank">Расчет количества рядов</a><br>
            <a href="/calculator/stitches" class="btn btn-outline-info w-100" role="button" target="_blank">Расчет количества петель</a><br>
            <a href="/calculator/rapport" class="btn btn-outline-info w-100" role="button" target="_blank">Расчет раппорта</a><br>
        </div>
    </div>
    </div>
</div>
<!--<script>-->
<!--    function openWin (newUrl, titleName) {-->
<!--        let newWindow = window.open(newUrl, titleName, 'width=700, height=600, resizable=yes, titlebar=yes');-->
<!--        return newWindow;-->
<!--    };-->
<!--</script>-->
<style>
    main{
        max-width:100%;
        min-height: 790px;
        background-image: url("../../static/img/style/St4_Big_11.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock content %}