body {
    padding-top: 5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
   }

/*Загаловок у страницы */
.title{
    text-align: center;
    color: #0086ad;
    font-weight: bold;
    font-style: oblique;
    text-shadow:0 0 10px #e5f0f1;
    text-transform: capitalize;
    text-decoration: underline;
}

#first{
    width: 60%;
    margin: 4.7em auto;
    padding: 15px;
    text-align: left;
    border-left: 5px solid #89abb0;
    font-style: italic;
}

div.row{
    margin: 10px 50px;
}


/*для таблицы в tools/index.html*/
.table_index{
    background-color: white;
    width: 100%;
    margin: 20px auto;
}

.table_index th, .table_index td {
    padding: 5px 10px;
    text-align: center;
}

/* img-fluid маштабирует изображение под родительский элемент*/
.img-round {
    border-radius: 50%;
}

/*Navbar*/
#nav-color{
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    -moz-box-shadow:    1px 1px 2px 5px #89abb0;
    -webkit-box-shadow: 1px 1px 2px 5px #89abb0;
    box-shadow:         1px 1px 2px 5px #89abb0;
    }

/*li.nav-item:active{
    border-bottom: 1px solid #81B8BD;
    border-radius: 50%
}*/

.line-divider{
    border: 1px solid #89abb0;
    box-shadow: 1px 1px 2px 2px #89abb0;
}

/* фон для div.card в calculator */
#calc-bg-color{
    background-color: rgba(255, 255, 255, 0.6);
}

/* Надпись на слайдере карусель */
.color-for-title{
    color: #167482;
}

/*Для заголовка о разработке сайта*/
.bg-color-work{
    color: black;
    padding: 1rem;
    background-color: #89abb0;
}

main{
    max-width:100%;
    min-height: 800px;
}
