body {
    padding-top: 5rem;
    /*background-image: url("../img/bg-arany-white.jpg");
    background-size: cover;*/
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
   }

#index_bg h1{
    color: #7FFF00;
    font-weight: bold;
}

img {
    width: 250px;
    size: cover;
}

#content, #index_bg {
    margin-top: 20px;
    margin-left: 50px;
    }

.title{
    color: #c5648f;
    font-weight: bold;
    text-shadow:2px 2px 4px #6c757d;
}

/*footer*/
#foot {
    text-align: right;
}
div.row{
    margin: 10px 50px;
}
/* img-fluid маштабирует изображение под родительский элемент*/
/*c5648f  cyan - 47b5b6  светло-берюзовый #b9d3c6  #ffe5d4 #bbee89 - светло-салатовый*/
/* For form center*/
.form_style{
    width: 50%;
    margin: 20px auto;
    border-radius: .25rem;
    padding: 20px;
    border: 1px solid #93a5af;
    box-shadow: 10px 10px 10px #93a5af;
}
/*для таблицы в tools/index.html*/
.table_index{
    width: 100%;
    margin: 20px auto;
}

.table_index th, .table_index td {
    padding: 5px 10px;
    text-align: center;
}