{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock title %}


{% block content %}
    {% load static %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div>
                <h1 class="title">Смена пароля</h1>
                <form method="post">
                    {% csrf_token %}
<!--                    <p>-->
<!--                        <label for="old_password">Старый пароль:</label><br>-->
<!--                        <input type="password" id="old_password" name="old_password" class="form-control" required>-->

<!--                    </p>-->
<!--                    <p>-->
<!--                        <label for="new_password1">Новый пароль:</label><br>-->
<!--                        <input type="password" id="new_password1" name="new_password2" class="form-control" required>-->

<!--                    </p>-->
<!--                    <p>-->
<!--                        <label for="new_password2">Повторите новый пароль:</label><br>-->
<!--                        <input type="password" id="new_password2" name="new_password2" class="form-control" required>-->

<!--                    </p>-->
                    {{ form|crispy }}
                    <p style="margin-top: 30px">
                        <input class="btn btn-primary" type="submit" value="Изменить пароль">
                        <input class="btn btn-secondary" type="reset" value="Отмена" style="width: 150px;">
                    </p>
                </form>
            </div>
        </div>
    </div>
    <style>
    main{
        max-width:100%;
        min-height: 800px;
    }
    </style>
{% endblock content %}
