{% extends 'layout/base.html' %}


{% block title %}{{ title }}{% endblock title %}


{% block content %}
    {% load static %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div>
                <h1 class="title">Сброс пароля</h1>
                {% if validlink %}
                    <p>Пожалуйста, введите новый пароль дважды:</p>
                    <form action="." method="post">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <p>
                            <input type="submit" class="btn btn-primary btn-block" value="Изменить пароль"/>
                        </p>
                    </form>
                {% else %}
                    <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась.
                        Запросите новый сброс пароля.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}