{% extends 'layout/base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
    <div class="container">
        <h1 class="title">{{ title }}</h1>

        <div class="card">
            <div class="card-header">
                {{ webnote.craft }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{webnote.project_name}}</h5>
                <img src="/media/{{ webnote.image }}" width="30%" align="left" style="margin-right: 50px">
                <p class="card-text"><b>Дата начала:</b> {{ webnote.start_date|date:'d-m-Y' }} - <b>Дата окончания:</b> {{ webnote.end_date|date:'d-m-Y' }}</p>
                <p class="card-text"><b>Кому:</b> {{ webnote.for_who }}</p>
                <p class="card-text"><b>Описание:</b> {{ webnote.note }}</p>
                <p class="card-text"><b>Статус:</b> {{ webnote.status }}
                    <span class="badge badge-info">{{ webnote.access }}</span>
                </p>
                <p class="card-text">
                    <small class="text-muted">Запись добавлена: {{ webnote.create_date|date:'d-m-Y h:m:s' }}</small>
                </p>
                <a class="btn btn-link" href="/webnotes/{{ user.id }}" role="button">Вернуться к записям в Веб-блокноте</a>
          </div>
        </div>

    </div>
{% endblock content %}