{% extends 'layout/base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
<div class="container" style="margin: 0px 50px">
    <h1 class="title" style="margin: 50px;">{{ title }}</h1>
    <div class="row" style="margin: 10px 0px">
        <div class="col-md-2" style="border-right: solid 1px #b9d3c6">
            {% if user.is_authenticated %}
                <a href="/webnotes/create" id="btn_add_notes" class="btn btn-info" role="button">Добавить запись</a>
            {% endif %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/webnotes/{{ user.id }}">Веб-блокнот</a>
                    <ul>
                        <li><a class="link" href="/webnotes/{{ user.id }}">Все проекти</a></li>
                        <li><a class="link" href="#">Публичные</a></li>
                        <li><a class="link" href="#">Приватные</a></li>
                        <li><a class="link" href="#">Завершенные</a></li>
                        <li><a class="link" href="#">В процессе</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/patterns/{{ user.id }}">Узоры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tools/{{ user.id }}">Инструменты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/yarns/{{ user.id }}">Пряжа</a>
                </li>

            </ul>
      </div>
        <div class="col-md-8">
            {% for webnote in page_obj  %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/media/{{ webnote.image }}" class="card-img" alt="Фото изделия">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ webnote.project_name }}
                                    <span class="badge badge-pill badge-warning">{{ webnote.access }}</span>
                                </h5>
                                <p class="card-text">
                                    Кому: {{ webnote.for_who }}<br>Статус: {{ webnote.status }}
                                </p>
                                <p class="card-text">
                                    {{ webnote.note }}<br>
                                    <small class="text-muted">{{ webnote.craft }}</small>
                                </p>
                            </div>
                            <p>
                                <a class="btn-outline-success" href="/webnotes/details/{{ webnote.id }}" role="button">Посмотреть</a>
                                {% if user.is_authenticated %}
                                    <a class="btn-outline-info" href="/webnotes/edit/{{ webnote.id }}" role="button">Изменить</a>
                                    <a class="btn-outline-secondary" href="/webnotes/delete/{{ webnote.id }}" role="button">Удалить</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination" style="margin-top: 20px">
                <nav aria-label="Page navigation example">
            <ul class="pagination">
                <!--Переход назад на предыдущую страницу-->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=1">1</a>
                </li>
                {% endif %}
                <!--Номер текущей страницы-->
                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                </li>
                <!--Переход вперед на следующую страницу-->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
            </div>
        </div>
    </div>
</div>
<style>
    main{
        height: 100%;
        background-image: url("../../static/img/style/St4_Big_12_1.jpg");
        background-size: cover;
    }
    #btn_add_notes {
        margin-bottom: 20px;
    }
</style>
{% endblock content %}