<nav id="nav-color" class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <!--bg-light-->
    <div class="container">
        <a class="navbar-brand" href="/" style="font-style: italic; color: #81B8BD;">KnittingWebNotes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                    <!--<span class="sr-only">(current)</span>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/about">О сайте</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/contacts">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calculator">Калькулятор</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patterns/public">Узоры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/webnotes/public">Веб-записи</a>
                </li>


            </ul>
            <ul class="navbar-nav navbar-right" >
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-style: italic; text-weight: bold; color: #81B8BD;">
                        Здравствуйте,
                        {% if user.is_authenticated %}
                            {{ user.username }}!
                        {% else %}
                            войдите!
                        {% endif %}
                        </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01" style="border: 1px solid #91bebb">
                        {% if not user.is_authenticated %}
                            <a class="dropdown-item" href="/accounts/sign_in">Войти</a>
                            <a class="dropdown-item" href="/accounts/sign_up">Зарегистрироваться</a>
                        {% else %}
                            <a class="dropdown-item" href="/webnotes/{{ user.id }}">Мой Веб-блокнот</a>
                            <a class="dropdown-item" href="/accounts/profile">Мой профиль</a>
                            <a class="dropdown-item" href="/patterns/{{ user.id }}">Мои Узоры</a>
                            <a class="dropdown-item" href="/tools/{{ user.id }}">Инструменты</a>
                            <a class="dropdown-item" href="/yarns/{{ user.id }}">Пряжа</a>
                            <!--<a class="dropdown-item" href="/samples">Образцы</a>-->
                            <hr style="border-top: 1px solid #91bebb">
                            <a class="dropdown-item" href="/accounts/sign_out">Выйти</a>

                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--<script>-->
    <!--$(document).ready(()=>{-->
        <!--$('.nav-item').click(()=>{-->
            <!--$(this).removeClass( "nav-item" ).addClass( "nav-item active" );-->
        <!--});-->
    <!--});-->
<!--</script>-->
